
    <!------------------------------------Footer------------------------------>

    <div class="footer__wrapper">
      <div class="footer__content">
        <div class="footer__content--detail" style="color: #ffffff">
          Copyright by Ben <br />
          Đây là sản phẩm của Nhóm Màu Xanh <br />
          02/2022 <br />
          SDT: 0703308434
        </div>
        <div class="footer__content--payment" style="color: #ffffff">
          Phương Thức Thanh Toán
        </div>
      </div>
    </div>
  </div>
</body>

</html>